mark { background-color:#ff9; color:#000; font-style:normal; font-weight:bold; }

.hidden { display: none; }

html, body {
  margin: 0;
  padding: 0;
}

em {
	color: #669900;
}

.inactive {
	color: #b2b2b2 !important;
}

.nav-tabs {
  margin-top: -20px;
}